@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Julius+Sans+One&family=Quicksand&display=swap");

/* font-family: 'Comfortaa', cursive;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Quicksand', sans-serif; */

* {
  box-sizing: border-box;
}

html {
background-color: #def;
background-image: radial-gradient(white 15%, transparent 16%),
radial-gradient(white 15%, transparent 16%);
background-size: 60px 60px;
background-position: 0 0, 30px 30px;
}


h1,
button, nav, #daily, #weekly, #ihabitTitle {
  font-family: "Comfortaa", cursive;
}

h2,
h3 {
  font-family: "Julius Sans One", sans-serif;
}

p,
label,
td {
  font-family: "Quicksand", sans-serif;
}

#loginbtn, #registerbtn, #logoutbtn {
  text-transform: uppercase;
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.17em solid black;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.3em;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  transition: all 0.2s;
  background-color: rgba(127, 255, 212, 0);
  cursor: pointer;
}

input {
  padding: 0.35em 1.2em;
  border: 0.17em solid black;
  margin: 0.5rem 0.3em 0.3em 0;
  border-radius: 0.3em;
  box-sizing: border-box;
  background-color: rgba(127, 255, 212, 0);
  margin-left: 10px;
}

button:hover, #btn:hover {
  border: 0.17em solid white;
  background-color: black;
  color: white;
}

input:focus {
  background-color: white;
}

#content,
#content1 {
  display: block;
}

th,
td {
  padding: 15px;
}

.loginInput {
  width: 100%;
}

#habit {
  border: 2px solid white;
  margin: 25px;
  border-radius: 20px;
  display: flex;
  width: 88vw;
  background-color:#def;
  left: 0;
}

.habitItem {
  flex-direction: column;
  padding: 20px;
}

#countBtn {
  border: none;
  padding: 20px;
  text-align: center;
  color: #00BCD4;
  background: #ECECEC;
  width: 10%;
  height: 10vh;
  margin-top: 20px;
  border-radius: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.delete-btn {
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
  margin-top: 30px;
  cursor: pointer;
}

#habith3 {
  font-weight: bold;
}